<div class='jumbotron'>
  <div class='container'>
    <h1>Real Therapy Jobs</h1>
    <p>
      Unlike other job posting boards, Real Therapy Jobs attempts to limit ad listing to those that are currently available.
      We discourage fake ads, ads posted by multiple parties, fishing expeditions, and job postings for any other reason than to
      fill a real therapy job.
    </p>
    <p>
      We made Real Therapy Jobs for therapists. Please feel free to use the form for any of your job searches, including
      not done with us. Also, please <button class='btn btn-danger'><span class='glyphicon glyphicon-flag'></span></button> any ad that you feel is not real, and we will do something about it.
    </p>
    <p>
      <%= link_to 'Begin Job Search >>', new_job_search_criterion_path, :remote => true, :class => 'btn btn-primary btn-lg' %>
    </p>
    <p>
      If you employ Physical, Occupational, and Speech Therapists and your jobs are not posted on
      <%= link_to 'realtherapyjobs.com', root_path %>, your jobs aren't real.
    </p>
  </div>
</div>
