<% if flash[:notice] %>
  <div class='container'>
    <div class="notice row"><strong><%= notice %></strong></div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class='container'>
    <div class="alert row"><p><strong><%= alert %></strong></p></div>
  </div>
<% end %>