<style>
  body{ padding-top: 50px; }
</style>

<div class='navbar navbar-fixed-top navbar-inverse' role='navigation'>
  <div class='navbar-header'>
    <a class='navbar-brand' href='<%=root_path%>'>Real Therapy Jobs</a>
  </div>

  <% if user_signed_in? %>
   <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'navbar-text pull-right') %>
  <% else %>
    <%= link_to('Login', new_user_session_path, :class => 'navbar-text pull-right')  %>
  <% end %>
</div>