<style>
  #sign_in_form{ width: 300px; }
</style>

<div id='sign_in_form' class='container'>
  <h2>Sign in</h2>
  <%= render 'users/log_in_form' %>
  <hr>
  <p class='row'>
    <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-success pull-right' %>
  </p>
</div>