
@import "twitter/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

 *= require_self
 *= require_tree .
 */

$success_color: rgb(0, 201, 13);
$error_color: rgb(230, 31, 9);

.light_border{
  border-bottom: 1px lightgrey solid;
}

.row_success{
  background: $success_color;
  background: transparentize($success_color, 0.25);
}

.row_error{
  background-color: $error_color;
  background-color: transparentize($error_color, 0.25);
}

.selected{
  background-color: #f5f5f5;
  cursor: pointer;
}

//Utility Styles
.centered{
  text-align: center;
}

//Flash Style
.the_flash{
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding: 5px;
}
.notice{
  @extend .the_flash;
  border-top-color: $success_color;
  border-bottom-color: $success_color;
  background-color: transparentize($success_color, 0.90);
}
.alert{
  @extend .the_flash;
  border-top-color: $error_color;
  border-bottom-color: $error_color;
  background-color: transparentize($error_color, 0.90);
}

